body {
	background-color: #1E1E1E;
	color: white;
}

#profile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: thick double #03B3FF;
	border-radius: 5%;
	padding: 10px;
}

#profile-picture img {
	display: block;
	margin: auto;
	width: 6em;
	border: thick double #03B3FF;
	border-radius: 100%;
}

#profile-name {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#profile-links ul {
	text-align: center;
	padding-left: 0;
}

#profile-links li {
	display: inline;
}

#profile-links a {
	color: white;
}

#profile-links a:hover {
	color: #03B3FF;
}
