* {
	font: inherit;
	font-size: 100%;
	margin: 0;
}

html, body {
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 16px;
	background-color: #FFDE03;
}

#navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-bottom: 2px solid #0336FF;

}

.navBarItem {
	float: left;
}

.navBarItem a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}

* a:hover {
	background-color: #FFDE03;
	color: black;
}

#profile {
	margin: 8px 8px;
}

.mainDetails {
	padding: 16px 64px;
	background-color: white;
	border: 2px solid #0336FF;
}

#profilePicture {
	width: 5.5em;
	float: left;
	margin-right: 32px;
}

#profilePicture img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 100%;
}

#name {
	float: left;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	padding: 0;
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 16px;
}

#contactDetails ul li {
	margin-bottom: 3px;
}

#contactDetails ul li a, a[href^=tel] {
	color: inherit;
	transition: all .3s ease-in;
}

#mainArea {
	margin-top: 8px;
	padding: 0 64px;
	background-color: white;
	border: 2px solid #0336FF;
}

section {
	border-top: 1px solid #0336FF;
	padding: 16px 0 12px 0;
}

section:first-child {
	border-top: none;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionTitle h1 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #0336FF;
}

.sectionContent {
	float: right;
	width: 75%;
}

* h2 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 4px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.sectionContent article p a, a[href^=tel] {
	color: inherit;
	transition: all .3s ease-in;
}

.clear {
	clear: both;
}

.skillsList {
	padding: 0;
	margin-bottom: 10px;
	list-style-type: none;
}

.generalSkillsList, .toolsTechnologiesList {
	column-count: 3;
}

.programmingLanguagesList {
	column-count: 1;
}

.skillsList li:not(:last-child) {
    margin-bottom: 4px;
}

.skillBarContainer {
	float: right;
	width: 100%;
	background-color: #ddd;
	border: 1px solid #0336FF;
}

.skillBar {
	text-align: right;
	padding-right: 20px;
	line-height: 16px;
	color: white;
	background-color: #FFDE03;
	color: black;
}

.javaSkill {
	width: 90%;
}
.pythonSkill {
	width: 70%;
}
.CCppSkill {
	width: 60%;
}
.HTMLaSkill {
	width: 60%;
}
.CSSSkill {
	width: 40%;
}




@media screen and (max-width: 780px) {

	#navBar {
		display: none;
	}

	#profilePicture {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	#name, #contactDetails {
		float: none;
		text-align: center;
		width: 100%;
	}

	#name, #contactDetails, .sectionTitle, .sectionContent {
		float: none;
	}

	#mainArea {
		padding: 0 16px;
	}

	.sectionTitle, .sectionContent {
		width: 100%;
	}

	.generalSkillsList, .toolsTechnologiesList {
		column-count: 2;
	}
}



@media screen and (max-width: 350px) {

	.generalSkillsList, .toolsTechnologiesList {
		column-count: 1;
	}

}
