---
layout: default
---

<div>
  {{ content }}
  {%- if site.projects.size > 0 -%}
    <h2>{{ page.project_list_title }}</h2>
    <ul class="project-list">
      {%- for project in site.projects -%}
      <li>
        <p>
          {{ project.emoji }}
          <a href="{{ project.repository }}">{{ project.name }}</a>:
          {{ project.description }}
        </p>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  {%- if site.posts.size > 0 -%}
    <h2>{{ page.post_list_title }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <p>
          {{ post.emoji }}
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>:
          {{ post.description }}
          <span class="post-meta">[{{ post.date | date: site.settings.date_format }}]</span>
        </p>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
